<font size="40" color="Black">Just Numbers.Net</font>
<body style="Background-color:ForestGreen;">
<img src="html5.gif" alt="HTML5 Icon" style="width:60px;height:120px;">


<Marquee behavior="scroll" direction="left" scrollamount="6">0</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">6</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="20">42</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="16">3</Marquee><Marquee behavior="scroll" direction="left" scrollamount="6">1</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">7</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="26">79</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="30">5</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="12">7</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">33</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="20">2</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="16">18</Marquee><Marquee behavior="scroll" direction="left" scrollamount="6">1</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">16</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="26">89</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="30">9</Marquee><Marquee behavior="scroll" direction="left" scrollamount="6">1</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">7</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="20">42</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="16">14</Marquee><Marquee behavior="scroll" direction="left" scrollamount="6">1</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">19</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="26">90</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="30">8</Marquee>

<Marquee behavior="scroll" direction="left" scrollamount="6">67</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">45</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="20">42</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="16">3</Marquee><Marquee behavior="scroll" direction="left" scrollamount="6">1</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">7</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="26">79</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="30">5</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="12">7</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">33</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="20">2</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="16">18</Marquee><Marquee behavior="scroll" direction="left" scrollamount="6">1</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">16</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="26">89</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="30">9</Marquee><Marquee behavior="scroll" direction="left" scrollamount="6">1</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">7</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="20">42</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="16">14</Marquee><Marquee behavior="scroll" direction="left" scrollamount="6">1</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="10">19</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="26">90</Marquee>
<Marquee behavior="scroll" direction="left" scrollamount="30">8</Marquee>